		.first{
			
			padding: 15x;
			margin: 3px;
			width: 30%;
			float:left;
				}
		.second{border-style: solid;
			border-color: black;
			margin: 0px
			width=100%;

		}
		
		#lt3, #lv1, #lv3 {background-color: red;
	}
		#lv2, #ee3 {background-color: white}


		#lt1 {background-color: yellow;}
		#lt2 {background-color: green;}
		#ee1 {background-color: blue;}
		#ee3 {background-color: black;}

*/paildymas */
	